[user]
	email = kevin.mok@mail.utoronto.ca
	name = Kevin Mok
	signingkey = 6DEED612B26C08E2
[color]
	ui = auto
[core]
	editor = nvim
    autocrlf = input
[push]
	default = simple
    autoSetupRemote = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
    keepBackup = false
[diff]
	tool = vimdiff
[commit]
	gpgsign = false
[alias]
	a = add
	c = commit
	ch = checkout
	d = diff
	f = fetch
	l = log
	m = merge
	pl = pull
	ps = push
	s = status
	st = stash
	r = remote
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
