# vim: fdm=marker ft=sh.go-template syntax=sh

# sys [[[ #

bg ~/Pictures/Backgrounds
cf ~/linux-config/dot_config
cfd ~/.config
cff ~/.config/fish
dl  ~/Downloads
# dw ~/dwm
D  ~/Documents
k ~/
lc ~/linux-config
lf /mnt/linux-files
lfv /mnt/linux-files/Videos
o /
p ~/.password-store
P ~/Pictures
std ~/st
# tm /tmp
tm ~/tmp

{{ if and (eq .chezmoi.username "root") (eq .linux_os "debian") }}
ng /etc/nginx/sites-available
sv /etc/systemd/system
{{ end }}

# ]]] sys #

# cdn [[[ #

ad ~/.task
ccd ~/.calcurse
cms ~/Documents/codm/site
cn ~/coding
hbd ~/.habitctl
ib ~/linux-config/dot_config/i3blocks/scripts
ms ~/coding/my-site
ra ~/linux-config/dot_config/ranger
sr ~/linux-config/scripts
snp ~/.vim/plugged/vim-snippets/UltiSnips
sw ~/.local/share/nvim/swap/
tx ~/linux-config/txt
wd ~/.config/watson

{{ if eq .chezmoi.hostname "nzxt" }}
b1 ~/coding/mf-site/themes/base16
2d ~/coding/godot-demos/2d-plat
ada ~/coding/ada-mario
ft ~/coding/face-tracker
j ~/Documents/journal
lh ~/Documents/listening-history
mmd ~/coding/move-mouse-with-head
sv ~/coding/spotify-lib-vis/src
svg ~/coding/spotify-lib-vis/src/graphs/static/graphs/scripts
swd ~/coding/swex
tb ~/coding/trapbot/src/trapbot
wo ~/Documents/workout-logs

# gaming [[[ #

te ~/Documents/twitch-emotes

mt ~/.minetest
mta ~/.minetest/clientmods/custom_aliases
mtc ~/.minetest/games/mineclone2/mods
mtm ~/.minetest/minetest

pk ~/Downloads/gba/mgba/pokemon/emerald/1

# ]]] gaming #

{{ end }}

{{ if eq .chezmoi.hostname "x1-carbon" }}
adb ~/coding/ada-mario/build
adm ~/coding/ada-mario/media
adp ~/coding/ada-mario-presentation
ads ~/coding/ada-mario/scripts
adP ~/Pictures/ada-mario
{{ end }}

# ]]] cdn #

# sch [[[ #

sc ~/school
lt ~/school/latex-notes

2 ~/school/324
2a ~/school/324-a2-2
2e ~/school/324/e/8
2l ~/school/324/l/8

8 ~/school/384

# ]]] sch #
