# vim: fdm=marker ft=sh.go-template syntax=sh

# sys [[[ #

3 ~/linux-config/dot_config/i3/config.tmpl
a ~/linux-config/aliases/key_aliases.tmpl
ak ~/linux-config/dot_ssh/authorized_keys-all
d ~/linux-config/aliases/key_dirs.tmpl
dw ~/dwm/config.def.h
f ~/linux-config/aliases/key_files.tmpl
fh ~/.local/share/fish/fish_history
n ~/linux-config/dot_vimrc.tmpl
p ~/linux-config/txt/pacman-pkgs/pacman-pkgs.txt
r ~/linux-config/dot_config/ranger/rc.conf.tmpl
sr ~/linux-config/configs/ranger/shortcuts.conf
ss ~/.shortcuts
st ~/st/config.def.h
t ~/linux-config/dot_tmux.conf
u ~/linux-config/dot_Xresources.tmpl
x ~/linux-config/dot_config/fish/config.fish.tmpl
xi ~/linux-config/dot_xinitrc
y ~/.zshrc
z ~/linux-config/aliases/zsh_aliases

{{ if and (eq .chezmoi.username "root") (eq .linux_os "debian") }}
ng /etc/nginx/nginx.conf
{{ end }}

# ]]] sys #

# cdn [[[ #

ap ~/.task/pending.data
at ~/.task/to-add.md
bid ~/Documents/journal/todo/blog.md
cc ~/linux-config/private_dot_calcurse/conf
ci ~/linux-config/txt/ideas.md
cm ./commit-msg.txt
cmt /tmp/commit-msg.txt
el ~/Documents/twitch-emotes/links-new.md
h ~/.habitctl/log
hh ~/.habitctl/habits
hlg ~/coding/spotify-lib-vis/src/api/management/commands/update-history.log
id ~/Documents/journal/todo/ideas.md
ig ./.gitignore
jn ~/Documents/journal/todo/2.md
jt ~/Documents/journal/todo/todo.md
lh ~/Documents/listening-history/polarbier.csv
mc ~/coding/mf-site/assets/sass/main.scss
mi ~/coding/mf-site/ideas.md
ne ~/linux-config/configs/neofetch/config.conf
re README.md
rda ~/Documents/red-discord-bot/repos/gobcog-kevin/adventure/adventure.py
rdc ~/Documents/red-discord-bot/commands-freq.md
td todo.md
tg ~/.config/watson/tags_cache
tt txt/todo.md
tm ~/.vim/plugged/vim-snippets/UltiSnips/texmath.snippets
tp /tmp/
tw ~/linux-config/dot_taskrc
w ~/.config/watson/state.tmp
wh ~/Documents/journal/todo/work-habit.md

# ]]] cdn #

# sch [[[ #

# 309 [[[ #

0c ~/school/309-proj/sass/main.scss
0h ~/school/309-proj/public/js/helpers.js
0i ~/school/309-proj/public/index.html
0m ~/school/309-proj/public/js/main.js
0f ~/school/309-proj/public/js/food.js
0s ~/school/309-proj/server.js
0t ~/school/309-proj/public/js/stores.js

# ]]] 309 #

# 384
8a ~/school/384/a1/searchAgents.py
8s ~/school/384/a1/search.py

# ]]] sch #

# gaming [[[ #

cmr ~/Documents/codm/discord-recruitment.md
cra ~/Documents/red-discord-bot/repos/gobcog-kevin/adventure/data/default/attribs.json
crm ~/Documents/red-discord-bot/repos/gobcog-kevin/adventure/data/default/monsters.json
fn ~/Documents/fortnite/notes/fortnite-notes.md
fv ~/Documents/fortnite/notes/vods.md
mta ~/.minetest/clientmods/custom_aliases/init.lua
pk ~/Downloads/pokecord/pokecord2.md

# ]]] gaming #
