#  vim: fdm=marker ft=sh.go-template syntax=sh

# sys [[[ #

bg ~/Pictures/Backgrounds
cf ~/linux-config/dot_config
cfg ~/.config
cff ~/.config/fish
ch ~/Documents/chat
dc ~/Documents/chat/discord
da /mnt/ipad/DCIM/101APPLE
dl  ~/Downloads
# dw ~/dwm
D  ~/Documents
# k ~/
lc ~/linux-config
lf /mnt/linux-files
lf2 /mnt/linux-files-2
lfp /mnt/linux-files/Pictures
lfp2 /mnt/linux-files-2/Pictures
lfv /mnt/linux-files/Videos
lfv2 /mnt/linux-files-2/Videos
lfv2s /mnt/linux-files-2/Videos/shows
lfy /mnt/linux-files/Videos/yt
a2 /mnt/linux-files-2/arch-2/full/home/kevin
me /run/media/kevin
o /
pd ~/.password-store
pfp /mnt/linux-files-2/arch-2/full/home/kevin/Pictures/profile-pics
pfpp ~/Pictures/profile-pics/profiles-by-moto
P ~/Pictures
ssu ~/Pictures/screenshots/desktop/unsorted
std ~/st
# tm /tmp
tm ~/tmp

{{ if and (eq .chezmoi.username "root") (eq .linux_os "debian") }}
ng /etc/nginx/sites-available
# sv /etc/systemd/system
{{ end }}

# ]]] sys #

# cdn [[[ #

ad ~/.task
bm ~/Documents/bookmarks
ccd ~/.calcurse
cms ~/Documents/codm/site
cn ~/coding
# dn ~/Downloads
drk ~/coding/dark-sky
ffx ~/linux-config/dot_config/fish/functions
hbd ~/.habitctl
ib ~/linux-config/dot_config/i3blocks
mbd ~/coding/minikube
pig ~/coding/pigallery
mbk ~/coding/minikube-kompose
ms ~/coding/mf-site
msr ~/coding/mf-site/static/pdf
pr ~/coding/pull-requests
ra ~/linux-config/dot_config/ranger
rd ~/Documents/red-discord-bot
rda ~/Documents/red-discord-bot/repos/gobcog-kevin/adventure
rdt ~/coding/discord-bots
rdp ~/coding/discord-bots/pinky/cogs/CogManager/cogs/adventure
sr ~/linux-config/scripts
vsnps ~/.vim/plugged/vim-snippets/UltiSnips
sw ~/.local/share/nvim/swap/
tfd ~/coding/terraform
ttd ~/.timetrace
ttdr ~/.timetrace/records
tx ~/linux-config/txt
wd ~/.config/watson

b1 ~/coding/mf-site/themes/base16
2d ~/coding/godot-demos/2d-plat
ada ~/coding/ada-mario
# ft ~/coding/face-tracker
hv ~/Documents/hevin
hvs ~/Documents/hevin/shopping
j ~/Documents/journal
jt ~/Documents/journal/todo/24
# lh ~/Documents/listening-history
mmd ~/coding/move-mouse-with-head
mh ~/coding/mf-site/layouts
ms ~/coding/mf-site
msl ~/coding/mf-site/content/letter
# mp ~/coding/mf-site/static/pdf
pk ~/Documents/journal/packing-lists
pn ~/coding/red-discord-bot
# rs ~/coding/rarity-surf/backend/rarity_check/project
rsf ~/coding/rarity-surf/frontend
rsc ~/coding/rarity-surf/backend/rarity_check/project/management/commands
# rsm ~/coding/rarity-surf/backend/rarity_check/project/migrations
sl ~/Documents/sleep
sv ~/coding/spotify-lib-vis/src
svg ~/coding/spotify-lib-vis/src/graphs/static/graphs/scripts
swd ~/coding/swex
# tb ~/coding/trapbot/src/trapbot
tb ~/coding/twitter-bot
ur ~/coding/uranium-godot
# wo ~/Documents/workout-logs

# gaming [[[ #

te ~/Pictures/twitch-emotes

# mt ~/.minetest
# mta ~/.minetest/clientmods/custom_aliases
# mtc ~/.minetest/games/mineclone2/mods
# mtm ~/.minetest/minetest

# pk ~/Downloads/gba/mgba/pokemon/emerald/1

# ]]] gaming #

{{ if eq .chezmoi.hostname "x1-carbon" }}
adb ~/coding/ada-mario/build
adm ~/coding/ada-mario/media
adp ~/coding/ada-mario-presentation
ads ~/coding/ada-mario/scripts
adP ~/Pictures/ada-mario
{{ end }}


# ]]] cdn #

# gaming [[[ #

lfo /mnt/linux-files/Videos/obs
lfo2 /mnt/linux-files-2/Videos/obs
pxv /mnt/linux-files/Videos/pixel

tk ~/Documents/totk
tkp ~/Pictures/totk

# codm [[[ #

# cm ~/Documents/codm
cs ~/Documents/codm/site
csi ~/Documents/codm/site/static/images
Css ~/Pictures/screenshots/mobile/codm

# ]]] codm #

# fortnite [[[ #

fn ~/Documents/fortnite
fnc /mnt/linux-files/Videos/yt/fortnite/clips/4
fni /mnt/ipad/DCIM/100APPLE
fnm ~/Documents/fortnite/pics/maps
fnn ~/Documents/fortnite/notes
fnp ~/Documents/fortnite/pics
fns ~/Documents/fortnite/stats/api
fnsp ~/Documents/fortnite/stats/pics
fnv /mnt/linux-files/Videos/personal-fortnite-games/review
fnv2 /mnt/linux-files-2/Videos/ipad/fortnite/name
tcd /mnt/linux-files/Videos/yt/fortnite/clips/twitch-clip-downloader

# ]]] fortnite #

pgv /mnt/linux-files/Videos/pokemon-go
tr ~/.local/share/Terraria

dc ~/Documents/chat/discord
twt ~/Documents/twitter

sdv ~/Documents/stardew-valley-aha

wo ~/Documents/workout-logs/7

dap /mnt/linux-files-2/Pictures/ipad
dau /mnt/linux-files-2/Videos/ipad/unsorted

sdvm ~/.local/share/Steam/steamapps/common/Stardew\ Valley/Mods/
sdvss ~/.local/share/StardewValley/Screenshots/
sdvsv ~/.config/StardewValley/Saves/Hevintales_355084144/
sdvsvg ~/Documents/stardew-valley-sdv-saves/hevintales

snp ~/Documents/marvel-snap
snpv /mnt/linux-files-2/Videos/ipad/marvel-snap

# ]]] gaming #

# pey [[[ #

atx ~/Documents/ataraxy-venture
em ~/Documents/emails
li ~/Documents/linkedin
lim ~/Documents/linkedin/msgs
rh ~/Documents/red-hat
rhc ~/Documents/red-hat/chat
rhe ~/Documents/red-hat/emails
rhl ~/Documents/red-hat/learned
sa ~/coding/rhcsa-notes

wcl ~/.weechat/logs
ep ~/Documents/expenses

# kogito [[[ #

kg  ~/coding/kogito
kap ~/coding/kogito/kogito-apps
kdo ~/coding/kogito/kie-docs
kdoa ~/coding/kogito/kie-docs/doc-content/kogito-docs/src/main/asciidoc
kex ~/coding/kogito/kogito-examples
keh ~/coding/kogito/kogito-examples/process-scripts-quarkus/target
kep ~/coding/kogito/kogito-examples/process-postgresql-persistence-quarkus
kfl ~/coding/kogito/kogito-apps
kh ~/coding/kogito/kogito-helm-charts
kho ~/coding/kogito/kogito-helm-chart-old
ki ~/coding/kogito/kogito-images
kj ~/coding/kogito/jenkins-test
kjb ~/coding/kogito/jenkins-test-bot
kjf ~/coding/kogito/jenkins-test/full
kl ~/coding/kogito/shared-libraries
# operator [[[ #

ko ~/go/src/github.com/kiegroup/kogito-operator
kor ~/go/src/github.com/kiegroup/rhpam-kogito-operator
# koc ~/go/src/github.com/kiegroup/kogito-operator/cmd/kogito/command
koc ~/coding/kogito/kogito-operator
kod ~/go/src/github.com/kiegroup/kogito-operator/cmd/kogito/command/deploy
koe ~/go/src/github.com/kiegroup/kogito-operator/examples
kore ~/go/src/github.com/kiegroup/rhpam-kogito-operator/example
kof ~/go/src/github.com/kiegroup/kogito-operator/cmd/kogito/command/flag
# kor ~/go/src/github.com/kiegroup/kogito-operator/pkg/controller/kogitoruntime
kou ~/go/src/github.com/kiegroup/kogito-operator/cmd/kogito/command/util
ko2 ~/coding/kogito/kogito-operator-2

# ]]] operator #
kob ~/coding/kogito-operator-onboarding
kot ~/coding/kogito/optaplanner
kp ~/coding/kogito/kogito-pipelines
kp2 ~/coding/kogito/kogito-pipelines-2
kpr ~/coding/pull-requests/red-hat
kprh ~/coding/pull-requests/red-hat/helm
kr ~/coding/kogito/kogito-runtimes
krj ~/coding/kogito/kogito-runtimes/jenkins-spock-tests
ky ~/coding/kogito/kogito-kmok-yamls

gos ~/go/src

# ]]] kogito #

vb ~/coding/VileBot/vilebot
vbs ~/coding/VileBot/vilebot/src/main/java/com/oldterns/vilebot

# dv ~/coding/devops-sre-knowledge
nxo ~/coding/kogito/nexus-operator

# ]]] pey #

# nft [[[ #

cvt ~/Pictures/profile-pics/conviction
# mb ~/coding/mint-bot
pdg ~/Pictures/profile-pics/pudgy-penguins/test
pfps ~/Pictures/profile-pics/sappy-seals
pfpk ~/Pictures/profile-pics/gm-cafe/keek
pfpr ~/Pictures/profile-pics/reddit-avatars
nft ~/Documents/nft

# ]]] nft #

# sch [[[ #

sc ~/school
lt ~/school/latex-notes

ltc ~/coding/leetcode

jf ~/school/job-fair
jh ~/school/job-hunt
jhi ~/school/job-hunt/interview-questions
jhig ~/school/job-hunt/interview-questions/grafana

el ~/coding/eliza

# ]]] sch #

# personal [[[ #

lw ~/Documents/lawrence

hih /mnt/linux-files-2/Videos/hot-in-herre
bb /mnt/linux-files-2/Pictures/bball
dh ~/Pictures/drake-hoodie
ets /mnt/linux-files-2/Videos/eras-taylor-swift-movie
mj /mnt/linux-files-2/Pictures/midjourney/results
mt /mnt/linux-files-2/Pictures/mutant-tees
sm /mnt/linux-files-2/Videos/sam-smith/named
wg /mnt/linux-files-2/Pictures/weed-grow-23

sdc /run/media/kevin/6339-3234

# ]]] personal #
