# vim: fdm=marker ft=conf.go-template

#  Global properties [[[ # 
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
align=center
command=~/.config/i3blocks/scripts/$BLOCK_NAME
separator=true
separator_block_width=25
markup=pango
color=#cbe4ff
#  ]]] Global properties # 

# [ticker]
# label=$
# TICKER=GME
# interval=30
# # interval=10

#  sys.monitoring [[[ # 

[temperature]
label= 
interval=5

[cpu_usage]
label=  
interval=5

[memory]
label=  
# color=#3da061
interval=2

#  ]]] sys.monitoring # 

#  volume/spotify [[[ # 

[spotify]
#command=python ~/linux-config/configs/i3blocks-scripts/spotify.py
command=/home/kevin/.config/i3blocks/scripts/spotify
# label=
label=
# # label=🎧
# # green
# # color=#198c19
# # aqua
# # color=#2d7272
interval=5

# [spotify]
# label=
# LONG_NAME=
# SHORT_NAME=
# interval=5

[volume]
interval=once
signal=1
interval=60

#  ]]] volume/spotify # 

#  time [[[ # 

[calendar]
interval=1
label= 
# DATEFMT=+%H:%M.%a-%m-%d
# DATEFMT=+%H:%M
#DATEFMT=+%H:%M
# SHORTFMT=+%H:%M:%S
#SHORTFMT=+%H:%M.%a-%m-%d
#HEIGHT=180
#WIDTH=220

#  ]]] time # 

{{ if eq .chezmoi.hostname "x1-carbon" }}
[temperature]
label= 
interval=5

# [name]
# label=
# interval=30
{{ end }}
